@import "../init.scss";

.issueDetail-mintbg {
  position: absolute;
  width: 1300px;
  height: 100%;
  left: -500px;
  top: 10px;
  background: #5DDADB;
  z-index: -1;
  border-radius: 50%;
}

.issueDetail-bg {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1200px;
  height: 550px;
  margin: 0 auto;
}

.issueDetail-left {
  width: 780px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .issueDetail-hashtag-wrap {
    display: flex;

    .issueDetail-hashtag {
      font-size: 14px;
      padding: 10px 15px;
      background-color: #dddd;
      border-radius: 100px;
      margin-right: 10px;
    }
  }

  .issueDetail-title {
    font-size: 40px;
    padding: 0 10px;
    font-weight: bolder;
    margin: 20px 0;
    display: inline-block;
    background: linear-gradient(to top, #5DDADB 50%, transparent 50%);
  }

  .issueDetail-contents {
    font-size: 18px;
  }

  .issueDetail-footer {
    text-align: right;
    margin-top: 20px;
    font-size: 12px;
  }

  .issueDetail-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    .issueDetail-bottom-left {
      text-align: center;
      margin-left: 30px;

      button {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        font-size: 40px;
        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
      }

      div {
        font-size: 26px;
        font-weight: bolder;
      }

      .text {
        font-size: 16px;
        font-weight: normal;
        margin-top: 10px;
      }
    }

    .issueDetail-bottom-right {
      width: 500px;

      .issueDetail-bottom-right-header {
        display: flex;
        justify-content: space-between;
      }

      .issueDetail-ups {
        display: flex;
        margin-bottom: 30px;

        div {
          margin-right: 10px;
        }
      }
    }

    .plus {
      width: 40px;
      height: 40px;
      font-size: 30px;
      font-weight: bolder;
      border-radius: 100px;
      text-align: center;
      line-height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        cursor: pointer;
      }
    }

    .issueDetail-share {
      width: 100px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 18px;
      font-weight: bolder;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 100px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        cursor: pointer;
      }
    }

    .issueDetail-bottom-title {
      font-weight: bolder;
      margin-bottom: 10px;
    }
  }
}

.issueDetail-right {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  .issueDetail-right-box {
    width: 100%;
    height: 230px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .issueDetail-right-title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .issueDetail-similar {
    font-size: 18px;
  }

  .margin {
    margin-top: 30px;
  }
}

.popup-plus-content {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  padding: 20px 30px;

  .close {
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
    }
  }

  .popup-title {
    font-size: 20px;
    font-weight: bolder;
  }

  .popup-up-wrap {
    display: flex;
  }

  .issueDetail-up {
    margin: 20px 20px 0 0;
  }
}