* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

a {
  text-decoration-line: none;
  color: black;
}

button {
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }
}

input {
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }
}
