@import '../init.scss';


.header {
  width: 100%;
  height: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  background-color: white;
}

.header-bar {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-create {
    width: 194px;
    height: 50px;
    line-height: 50px;
    background: #F78EB6;
    border-radius: 25px;
    text-decoration-line: none;

    font-family: Rajdhani;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }

  .header-logo-img {
    width: 56px;
    height: 74px;
  }

  .header-logo {
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 35px;
    color: #5DDADB;
  }

  .header-search {
    width: 300px;
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    box-sizing: border-box;
    margin: 0 20px;

    .header-search-icon {
      width: 25px;
      height: 26px;
    }

    .header-search-input {
      border: none;
      margin-right: 10px;
      width: 230px;
      height: 40px;
      color: black;

      &:focus {
        outline: none;
      }
    }
  }

  .header-auth {
    width: 157px;
    height: 50px;
    background: #5DDADB;
    border-radius: 25px;

    // .header-mypage{
    //     position: absolute;
    //     font-family: Rajdhani;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 15px;
    //     line-height: 38px;
    //     text-align: center;
    //     color: #FFFFFF;
    // }

    // .header-logout{
    //     position: absolute;
    //     font-family: Rajdhani;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 15px;
    //     line-height: 20px;
    //     color: #FFFFFF;
    // }
  }


}

