@import '../init.scss';

.home-white {
    width: 1200px;
    margin: 0 auto;
}

.home-sort-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.home-sort{
    width: 129px;
    height: 45px;
    line-height: 45px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home-title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.home-category-wrap {
    width: 100%;
    flex-wrap: wrap;
    display: flex;

    .home-category {
        width: 157px;
        margin: 7px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-size: 20px;
    }
}

.home-blue {
    width: 100%;
    background-color: #5DDADB;
    padding: 50px 0;
    margin-top: 20px;

    .home-issue-wrap {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}


