@import '../init.scss';

// .home-category-wrap{

// }

.home-sort-wrap{
    /* Rectangle 357 */
    position: absolute;
    width: 129px;
    height: 45px;
    left: 1251px;
    top: 676px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}  

.home-sort{
    text-align: center;
    position:relative;
    top: 12px;
}



